{% extends "base.html" %}
{% block auth %} {% endblock %}
{% block content %}
	<div id="about">
		<p> Меня зовут <strong> Ильдус Курбангалиев </strong>. А это мой персональный сайт. </p>
		<p>
			Здесь приведена некоторая информация обо мне, в том числе мои интересы и контактная информация.
		</p>
		<p>
			Живу я в г.Уфе, занимаюсь разработкой различного софта. На текущий момент я занимаюсь
			веб-разработкой на Python и Django. Собственно, блог я использую для того, чтобы
			сохранить некоторые моменты своей работы.
		</p>
	</div>
{% endblock %}
{% block right_column %}
	
{% endblock %}