<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

{% block keywords %}
	<meta name="description" content="Персональный сайт Ильдуса Курбангалиева">
	<meta name="keywords" content="django python linux блог портфолио я статьи решения">
{% endblock %}

<title> {% block title %} Персональный сайт Ильдуса Курбангалиева {% endblock %}</title>

<link rel="stylesheet" href="{{MEDIA_URL}}main/css/screen.css" type="text/css" media="screen, projection"/>
<link rel="stylesheet" href="{{MEDIA_URL}}main/css/print.css" type="text/css" media="print"/>
<!--[if lt IE 8]><link rel="stylesheet" href="{{MEDIA_URL}}main/css/ie.css" type="text/css" media="screen, projection"/><![endif]-->

<link rel="stylesheet" href="{{MEDIA_URL}}main/css/base.css" type="text/css" media="screen, projection"/>

<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/dojo/1.5/dijit/themes/nihilo/nihilo.css" />
<script src="http://ajax.googleapis.com/ajax/libs/dojo/1.5/dojo/dojo.xd.js" type="text/javascript" djConfig="parseOnLoad:true, isDebug:true"></script>
{% block head %} {% endblock %}
</head>
<body class="niholo">
<div class="container">
  <div class="clear span-24 last" id="menu">
    <div class="span-16">
    	<h1> <a class="header_text" href="/"> ildus.org </a> {%block header_text %} {% endblock %} </h1>
    </div>
    <div class="span-8 last navbar"> 
    	{% load main_tags %}
    	{% main_menu %}
    </div>
  </div>
  <div class="clear span-24 last" id="main"> 
  	{% block main %}
	  	<div class="span-17" id="content">
	  	{% block content %} <div> </div>{% endblock content %}
	  	</div>
	  	<div class="span-7 last" id="right_col">
	  	{% block auth %}
	  		<div class="block">
	  			<div class="block_head"> Авторизация </div>
	  			<div class="block_content">
	  				{% if user.is_authenticated %}
	  				Вы авторизованы как {{user}} <br />
	  				<form action="/scipio/logout/" method="POST">
	  					<button>выйти</button>
	  				</form>
	  				{% else %}
	  					<form action="{% url scipio_login %}" method="post" id="auth_form">
						  	{{ auth_form.as_p }}						
						  	<button>Войти</button>
						</form>
	  				{% endif %}
	  			</div>
	  		</div>
	  	{% endblock %}
	  	{% block right_column %}  {% endblock right_column %}
  		</div>
  	{% endblock main %}
  </div>
  <div class="clear span-24 last" id="footer"> 
  	&copy; Ильдус Курбангалиев
  </div>
</div>

<!-- Yandex.Metrika -->
<script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript"></script>
<div style="display:none;"><script type="text/javascript">
try { var yaCounter1368329 = new Ya.Metrika(1368329); } catch(e){}
</script></div>
<noscript><div style="position:absolute"><img src="//mc.yandex.ru/watch/1368329" alt="" /></div></noscript>
<!-- /Yandex.Metrika -->
</body>
</html>