body {
	font-family: Georgia, serif;
	font-size: 15px;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
	letter-spacing: normal;
	line-height: 1.5em;
}

form#auth_form label {
	font-weight: normal;
	display: block;
}

form#auth_form input[type="text"] {
	display: block;
	width: 230px;
}

form#auth_form p {
	margin: 0;
}

a {
	color: #27521B;
}

a:hover {
	color: #27a91B;
	text-decoration: underline;
}

ul.errorlist {
	margin: 0;
	padding: 0;
}

ul.errorlist li {
	padding: 2px 5px;
	background-color: #d53e07;
	color: white;
}

h1 {
	font-size: 2.5em;
}

h1, h2, h3, h4, h5, h6 {
	color: #433A2D;
	font-weight: normal;
}

#about {
	font-size: 120%;
	padding: 15px 0;
}

.block {
	margin-bottom: 15px;
}
	.block .block_head {
		color: #222;
		border-bottom: 1px dotted #dad871;
		font-weight: normal;
		padding: 0 10px;
		background-color: transparent;
		text-transform: uppercase;
		font-size: 14px;
	}
	
	.block .block_content {
		padding: 10px;
	}
	
	.block ul {
		margin: 0 0 0 20px;
		padding: 0;
	}
	
	.block ul a {
		text-decoration: none;
		padding: 3px 0;
		text-transform: lowercase;
	}
	
	.block ul a:hover {
		text-decoration: underline;	
	}
	
#content {
	padding: 0;
	margin: 0;
}

	#content > div {
		margin: 5px;
	}
	
#content h1 {
	font-size: 1.5em;
}

#content h2 {
	font-size: 1.4em;
}

#content h3 {
	font-size: 1.3em;
}

#content h4 {
	font-size: 1.2em;
}

#content h5 {
	font-size: 1.1em;
}

#content h6 {
	font-size: 1em;
}

#content h1,h2,h3,h4,h5 {
	color: #3d580d;
}


#header {
	text-align: center;
	padding: 0 10px;
}

#main {
	padding-top: 10px;
}

#menu {
	padding-bottom: 5px;
	border-bottom: 1px solid #8e6d4c;
	margin-top: 1.5em;
}

	#menu a.header_text {
		text-decoration: none;
		font-weight: 600;
	}
	
	#menu a.header_text:hover {
		color: #964b00;
		text-decoration: none;
	}

#footer {
	padding-top: 10px;
	border-top: 1px solid #8e6d4c;
	text-align: center;
}

#menu h1 {
	margin: 0 0 0 5px;
}

.navbar {
	padding-top: 10px;
}

ul#main_navigation {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-right: 10px;
	float: right;
}

	ul#main_navigation li {
		display: inline-block;
		padding: 0 0 0 20px;
	}
	
		ul#main_navigation li a {
			text-decoration: none;
			text-decoration: italic;
			text-transform: lowercase;
			font-weight: bold;
			font-size: 110%;
		}
		
		ul#main_navigation li a.selected {
			border-bottom: 2px solid #55521B;
		}
		
		ul#main_navigation li a:hover {
			border-bottom: 2px solid #27a91B;
		}

#right_col > div {
	margin: 0 0px 10px 20px;
}

.search {
	padding: 0 10px;
	margin-bottom: 10px;
}

.search input[type="text"] {
	display: inline-block;
	width: 180px;
	height: 20px;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

.search input[type="button"] {
	display: inline-block;
	width: 50px;
	height: 22px;
	#border: 1px solid #666;
	margin: 0;
	padding: 0;
	#background-color: transparent;
	vertical-align: top;
}